
@{
    ViewBag.Title = "Помощь";
}

<h2>Помощь</h2>

<p>Для решения викторин перейдите на <a href=@Url.Action("Index", "Home")>главную страницу</a>. Затем выбирите нужную вам викторину и нажмите <b>начать.</b></p>
<p>Если вы администратор и хотите зайти в панель администратора, то в панели навигации нажмите на <b>Панель администратора</b> или перейдите по <a href=@Url.Action("Index", "Admin")>ссылке</a>.</p>

