
@{
    ViewBag.Title = "Помощь";
}

<h2>Помощь в панели администратора</h2>

<p>
    Для присвоения роли другому пользователю нажмите на кнопку <b>Роли</b> или перейдите по <a href=@Url.Action("GetRole", "Admin")>ссылке</a>.
    Затем выбирите нужную вам роль и нажмите <b>Присвоить</b>. После этого отметьте нужных вам пользователей и нажмите кнопку <b>Сохранить</b>.
</p>
<p>
    Для создания викторины в панели админстратора нажмите на кнопку <b>Создать викторину</b> или перейдите по <a href=@Url.Action("CreateQuiz", "Admin")>ссылке</a>.
    Затем введите данные об викторине. Если вы хотите добавить вопрос нажмите кнопку <b>Добавить вопрос</b>. Для сохранения викторины нажмите кнопку <b>Создать</b>.
</p>
<p>
    Для просмотра уже готовых викторин на панели администратора нажмите кнопку <b>Просмотр викторин</b> или перейдите по <a href=@Url.Action("GetQuiz", "Admin")>ссылке</a>.
</p>
<p>
    Для удаления викторины в списке викторин нажмите <b>Удалить</b> на викторине, которую нужно удалить.
</p>
<p>
    Для редактирования викторины в списке викторин нажмите <b>Редактировать</b> на викторине, которую нужно редактировать.
</p>
<p>Чтобы посмотреть детали викторины в списке викторин нажмите <b>Подробнее</b> на нужной викторине.</p>
<p>
    Для добавления вопроса нажмите кнопку <b>Создать вопрос</b>, введите данные и нажмите кнопку <b>Создать</b>.
</p>
<p>
    Для публикации викторины для других пользователей нажмите кнопку <b>Опубликовать</b>. Затем отметьте нужных пользователей и нажмите кнопку <b>Сохранить</b>.
</p>
<p>
    Для просмотра результатов викторины нажмите кнопку <b>Результаты</b>.
</p>
<p>
    Для добавления варианта ответа для определенного вопроса в списке вопросов нажмите кнопку <b>Подробнее</b> на нужном вопросе.
    Затем нажмите кнопку <b>Создать вариант ответа</b>, введите данные и нажмите кнопку <b>Создать</b>.
</p>
